body {
  background-color: #eee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.active {
  background-color: #4caf50;
}

.content {
  margin-top: 55px;
}

.dropdown-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn {
  background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.box {
    background-color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
    width: 100%;
  padding: 50px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.fondo {
  height: 300px;
  background-size: cover;
  background-image: linear-gradient(red, yellow);
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: top left;


  background: green url('http://phttps://placekitten.com/lacekitten.com/200/300') no-repeat left top , stop;
}